{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container">
    <p>
      <img src="{% static 'img/back.jpg' %}" alt="" width="1050"  height="350">
    </p>
  </div>
  <div class="container" style="background-color:rgb(104, 104, 241);">
    <h2 style="color:aliceblue;font: size 200px;" ><b>Welcome</b></h2>
  </div>
  <b>
This website is about clubs, players, and matches of baseball team in Ace of Diamonds.
The story follows Eijun Sawamura, a pitcher who joins an elite school with a brilliant catcher named Kazuya Miyuki. 
Together with the rest of the team, they strive for Japan's storied Koushien championships through hard work and determination. </b>
  <br>
  <br><br><br>
 <div class="container" style="background-color:rgb(104, 104, 241);">
    <h2 style="color:aliceblue;font: size 200px;" ><b>Featured Quotes</h2>
  </div>
  <b>
   "Be it the bullpen or the dugout, you can still fight just by being there!" – Ono Hiroshi
  </b>
  
{% endblock content %}